html {

}

body {

}




header {
    background: #2B3643;
    height: 70px;
    padding: 10px;
    color: #C6CFDB;
}

.user {
    float: right;
    height: 50px;
    margin-top: 5px;
}

    .user img {
        float: left;
        border-radius: 100%;
        margin-right: 10px;
        margin-top: 2px;
    }

    .user h4 {
        float: left;
        margin-right: 10px;
    }

    .user a {
        float: right;
        margin-top: 7px;
        color: #C6CFDB;
    }


main {
    background: #F6F6F6;
}

    aside {
        float: left;
        background: #364150;
        height: 100vh;
        color: #C6CFDB;
        padding-top: 40px;
    }

    aside nav {
        margin-top: 50px;
    }

    aside nav ul {
        padding-left: 0px;
    }

    aside nav ul li {
        list-style: none;
        border-bottom: 3px solid #3D4957;
        padding-top: 10px;
        padding-bottom: 10px;
        color: #C6CFDB;
        width: 90%;
    }

    aside nav ul li a {
        width: 100%;
    }

    aside nav ul li:hover {
        background: #2C3542;
        color: #FFFFFF;
    }

    aside nav ul li a {
        color: #C6CFDB;
    }

    aside nav button {
        background: none;
        border: none;
        padding: 0px;
    }

    aside nav i {
        margin-right: 2px;
    }

    aside nav ul ul {
        margin-left: 20px;
        display: none;
    }

    aside nav #eCommerceNav, aside nav #customerNav {
        transition: 1s;
    }

    aside #filter {
        background: transparent;
        border: none;
        border-bottom: 3px solid #3D4957;
        select:focus;
        outline: none;
        width: 90%;
    }

#filtersubmit {
    position: relative;
    z-index: 1;
    left: -25px;
    top: 1px;
    color: #7B7B7B;
    cursor:pointer;
    width: 0;
}

    .content {
        float: right;
    }



/* ADMIN/ORDERS */

.main-content .top-information {
    font-size: 1.5rem;
}

.order-overview {
    font-size: 1.5rem;
    width: 80%;
}


.order-overview .order-information {
    max-width: 30px;
    width: 30px;
}

