* {

}

body {
    /*background: #fac846;*/
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fac846+0,f9df9d+25,fac846+50,f9df9d+75,f9cf63+100 */
    background: #fac846; /* Old browsers */
    background: -moz-linear-gradient(left,  #fac846 0%, #f9df9d 25%, #fac846 50%, #f9df9d 75%, #f9cf63 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #fac846 0%,#f9df9d 25%,#fac846 50%,#f9df9d 75%,#f9cf63 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #fac846 0%,#f9df9d 25%,#fac846 50%,#f9df9d 75%,#f9cf63 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fac846', endColorstr='#f9cf63',GradientType=1 ); /* IE6-9 */

}


label {
    color: black;
}

.container {


}

/*========*/
/* Header */
/*========*/
header {
    padding: 5px 0px;
    z-index: 1000;
    background: #171717;
    width: 100%;
    box-shadow: 2px 2px 5px #171717;
}

    header #sub {
        margin-top: 28px;
        padding: 5px;
        float: left;
        color: #B8B8B8;
        border: 1px solid #B8B8B8;
    }

    header nav {
        float: right;
        height: 90px;
    }

        header nav li {
            display: inline-block;
            color: #B8B8B8;
            height: 90px;
            select:focus;
            outline: none;
        }

            header nav li a, header nav li button {
                height: 90px;
                background: none;
                padding: 34px 20px;
                font-size: 1.8rem;
                color: #B8B8B8;
                border: none;
                border-color: inherit !important;
                select:focus;
                outline: none;
            }

            header nav li a:hover, header nav li button:hover {
                background: #B8B8B8;
                color: black;
                text-decoration: none;
            }

            header nav li .dropdown-menu {
                width: 90px;
                padding-bottom: 20px;
            }

            header nav li .dropdown-menu li {
                height: 20px;
            }

            header nav li .dropdown-menu li a {
                font-size: 1.3rem;
                padding: 10px 20px;
                height: 30px;
                text-align: center;
            }

            header nav li .dropdown-menu li:hover {
                width: 100%;
            }

    header img {
        float: right;
    }


.container #quote {
    margin-top: 125px;
}


/*========*/
/* Footer */
/*========*/
footer {
    background: #171717;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #B8B8B8;
}

    footer .col-md-5 img {
        float: left !important;
    }

    footer .team-info {
        float: left;
        width: 80%;
        margin-bottom:10px;
    }

    footer ul {
        padding-top: 10px;
    }

    footer li {
        text-decoration: none;
        color: #B8B8B8;
        list-style: none;
    }
    
    footer a:hover {
        color: #B8B8B8;
    }

    footer .col-md-6 .friends ul {
        padding-left: 0px;
    }


/*===========*/
/* Home page */
/*===========*/
.panel-group .panel {
    border: none ;
    box-shadow: none ;
    background: transparent !important;
}

.panel-group .panel .row {
    padding-bottom: 30px;
}

.panel-group .panel .game-img {
    padding: 0;
    border: none;
    background: transparent;
    box-shadow: 0 0 18px #000000;
    transition: 0.2s;
}

.panel-group .panel .game-img:hover {
    box-shadow: 0 0 7px #000000;
    transition: 0.3s;
}

.panel-group .panel .panel-collapse {
    margin: 0px 5px 30px 5px;
    box-shadow: 0 0 18px #000000;
}
.panel-group .panel-collapse {
    position: relative;
}

.panel-group .collapse:before {
    content: "";
    position: absolute;
    left: 13.8%;
    top: -25px;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-bottom: 26px solid #1E1E1E;
    border-right: 20px solid transparent;
}

.panel-group #gunGodz {
    background: url("../media/img/gun-godz-bg.png") no-repeat center center fixed;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

.panel-group #lufTrausers {
    background: url("../media/img/luftrausers-bg.png") no-repeat center center fixed;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.panel-group #lufTrausers:before {
    left: 48.3%;
    border-bottom: 26px solid #B06459;
}

.panel-group #nuclear-Throne {
    background: url("../media/img/nuclear-throne-bg.png") no-repeat center center fixed;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.panel-group #nuclear-Throne:before {
    left: 83%;
    border-bottom: 26px solid #4ADA17;
}

.panel-group #ridiculous-Fishing {
    background: url("../media/img/ridiculous-bg.png") no-repeat center center fixed;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.panel-group #ridiculous-Fishing:before {
    border-bottom: 26px solid #6496A4;
}

.panel-group #serious-Sam {
    background: url("../media/img/serious-sam-bg.png") no-repeat center center fixed;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.panel-group #serious-Sam:before {
    border-bottom: 26px solid #FEEC2C;
    left: 48.3%;
}

.panel-group #super-Crate-Box {
    background: url("../media/img/super-crate-bg.png") no-repeat center center fixed;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.panel-group #super-Crate-Box:before {
    border-bottom: 26px solid #E12434;
    left: 83%;
}

.panel-group #super-bread-box {
    background: url("../media/img/super-bread-bg.png") no-repeat center center fixed;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.panel-group #super-bread-box:before {
    border-bottom: 26px solid #727671;
}


.game-item {
    padding: 0px 20px;
}

.row-game-item {

}

.row-game-item:last-of-type{
    margin-bottom: 0px;
}


/* quote */

#quote
{
    margin-top: 75px;
    margin-bottom: 40px;
    text-align:center;
    padding-top:10px;
    color:#000;
    font-family:Georgia, "Times New Roman", Times, serif;
    font-size:14px;
    font-style:italic;
    height:34px;
    background-color:#ddd;
}

#quote .name
{
    font-size:10px;
    color:#666;
}

#quote a
{
    font-size:10px;
    color:#666;
}

/*game style per pagina */

.game-icon {
    max-width: 280px;
}

.game-info h4 {
    float: left;
}

#maker-info {
    float: right;
    margin-right: 5%;
}

/*slider*/
.slide {
    margin-top: 35px;
    margin-bottom: 35px;
}

/*readmore*/

.more-less span {
    color: red;
    cursor: pointer;
}

.more-less {
    margin-bottom: 50px;
}

.more-less2 span {
    color: red;
    cursor: pointer;
}

.more-less2 {
    margin-bottom: 50px;
}
/*lightbox*/
/* Preload images */
body:after {
    content: url(../media/img/close.png) url(../media/img/loading.gif) url(../media/img/prev.png) url(../media/img/next.png);
    display: none;
}

.lightboxOverlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: black;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    opacity: 0.8;
    display: none;
}

.lightbox {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 10000;
    text-align: center;
    line-height: 0;
    font-weight: normal;
}

.lightbox .lb-image {
    display: block;
    height: auto;
    max-width: inherit;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}

.lightbox a img {
    border: none;
}

.lb-outerContainer {
    position: relative;
    background-color: white;
    *zoom: 1;
    width: 250px;
    height: 250px;
    margin: 0 auto;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}

.lb-outerContainer:after {
    content: "";
    display: table;
    clear: both;
}

.lb-container {
    padding: 4px;
}

.lb-loader {
    position: absolute;
    top: 43%;
    left: 0;
    height: 25%;
    width: 100%;
    text-align: center;
    line-height: 0;
}

.lb-cancel {
    display: block;
    width: 32px;
    height: 32px;
    margin: 0 auto;
    background: url(../media/img/loading.gif) no-repeat;
}

.lb-nav {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
}

.lb-container > .nav {
    left: 0;
}

.lb-nav a {
    outline: none;
    background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
}

.lb-prev, .lb-next {
    height: 100%;
    cursor: pointer;
    display: block;
}

.lb-nav a.lb-prev {
    width: 34%;
    left: 0;
    float: left;
    background: url(../media/img/prev.png) left 48% no-repeat;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transition: opacity 0.6s;
    -moz-transition: opacity 0.6s;
    -o-transition: opacity 0.6s;
    transition: opacity 0.6s;
}

.lb-nav a.lb-prev:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}

.lb-nav a.lb-next {
    width: 64%;
    right: 0;
    float: right;
    background: url(../media/img/next.png) right 48% no-repeat;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transition: opacity 0.6s;
    -moz-transition: opacity 0.6s;
    -o-transition: opacity 0.6s;
    transition: opacity 0.6s;
}

.lb-nav a.lb-next:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}

.lb-dataContainer {
    margin: 0 auto;
    padding-top: 5px;
    *zoom: 1;
    width: 100%;
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.lb-dataContainer:after {
    content: "";
    display: table;
    clear: both;
}

.lb-data {
    padding: 0 4px;
    color: #ccc;
}

.lb-data .lb-details {
    width: 85%;
    float: left;
    text-align: left;
    line-height: 1.1em;
}

.lb-data .lb-caption {
    font-size: 13px;
    font-weight: bold;
    line-height: 1em;
}

.lb-data .lb-number {
    display: block;
    clear: left;
    padding-bottom: 1em;
    font-size: 12px;
    color: #999999;
}

.lb-data .lb-close {
    display: block;
    float: right;
    width: 30px;
    height: 30px;
    background: url(../media/img/close.png) top right no-repeat;
    text-align: right;
    outline: none;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    transition: opacity 0.2s;
}

.lb-data .lb-close:hover {
    cursor: pointer;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}

.stores {
    float: right;
}



    /* Shopping cart style */
    /* Shopping cart style */
    /* Shopping cart style */
    /* Shopping cart style */


.product {
    width: 333px;
    height: 300px;
    margin-right: 70px;
    border: 2px solid black;
    position: relative;

}

.product:first-of-type {
    margin-left: 15px;
}

.product:last-of-type {
    margin-right: 0px;
}

.product-info {
    background: rgba(0, 0, 255, 0.8);
    width: 329px;
    height: 70px;
    position: absolute;
    left: 0px;
    top: 226px;
    border-top: 2px solid black;
}

.product-info h4 {
    font-weight: bold;
    color: white;
    text-align: center;
}

.product-amount {
    position: absolute;
    top: 4px;
    right: 4px;
    color: #ffffff;
    font-size: 1.8rem;
    font-weight: bold;
}

.delete-cart-item {
    position: absolute;
    bottom: 64px;
    right: 4px;
    width: 150px;

}

/*.delete-cart-item-button {*/
/*position: absolute;*/
/*bottom: 74px;*/
/*right: 4px;*/
/*padding: 0px;*/
/*height: 40px;*/
/*width: 70px;*/
/*border-radius: 7px;*/
/*}*/

/*.input-delete-number {*/
/*position: absolute;*/
/*bottom: 64px;*/
/*right: 90px;*/
/*width: 80px;*/
/*}*/

.product-price {
    text-align: center;
    color: #ffffff;
    font-size: 1.8rem;
    font-weight: bold;
}

.cart-img {
    position: absolute;
    left: 0px;
    width:100%;
    height: 100%;
}

.total-price {
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
    margin-top: 20px;
    background: rgba(200, 100, 123, 0.6);
}

.price-info p {
    text-align: right;

}

.pay-button {
    margin-top: 20px;
    margin-bottom: 20px;
}

.suggestions {
    margin-top: 50px;
    margin-bottom: 20px;
}

.suggestion {
    position: relative;
    width: 165px;
    height: 165px;
    margin-left: 25px;
    margin-right: 25px;
}

.suggestion img {
    position: absolute;
    left: 0px;
    width:100%;
    height: 100%;
}

.suggestion-info {
    background: rgba(0, 0, 255, 0.6);
    position: absolute;
    left: 0px;
    bottom: 0px;
    right: 0px;
}

.suggestion-info h4 {
    margin-left: 5px;
    color: #ffffff;
    font-weight: bold;
}


/*===============*/
/* Game ID style */
/*===============*/

body.game-3030-37491 .games-container, body.game-3030-39474 .games-container, body.game-3030-40158 .games-container, body.game-3030-41999 .games-container, body.game-3030-34402 .games-container, body.game-3030-32945 .games-container, body.game-3030-46090 .games-container{
    background:rgba(0,0,0,0.4);
    color: white;
}

.game-content {

}

.game-content h1 {
    margin-top: 0px;
}

body.game-3030-37491 {
    background: url("../media/img/gun-godz-bg.png") no-repeat center center fixed;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #FFFFFF;
}

body.game-3030-37491 .game-content {
    background: url("../media/img/blabla.png")
}

body.game-3030-39474 {
    background: url("../media/img/luftrausers-bg.png") no-repeat center center fixed;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body.game-3030-40158 {
    background: url("../media/img/ridiculous-bg.png") no-repeat center center fixed;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body.game-3030-41999 {
    background: url("../media/img/nuclear-throne-bg.png") no-repeat center center fixed;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body.game-3030-34402 {
    background: url("../media/img/serious-sam-bg.png") no-repeat center center fixed;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body.game-3030-32945 {
    background: url("../media/img/super-crate-bg.png") no-repeat center center fixed;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body.game-3030-46090 {
    background: url("../media/img/super-bread-bg.png") no-repeat center center fixed;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/* login and register form */

.auth-form {
    padding: 15px;
}

.auth-btn {
    background: white none repeat scroll;
    color: black;
    text-decoration: none;
    border: 1px solid #CCC;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
}


/* address for sending  */

.addressData {
    height: 500px;
}

/* merchandise store */

.product-link:hover {
    text-decoration-color: #8a8a8a;!important
    text-decoration: underline;!important
}

.col-lg-3-store {
    overflow: hidden;
    box-sizing: border-box;
}

.merchandise-product {
     background-color: #171717;
     width: 23.6666666%;!important;
     float: left;
     margin-right: 1.779%;
     margin-bottom: 23px;
     border-radius: 15px;
     color: white;
     max-height: 427px;
 }

.merchandise-product:nth-child(4n) {
    margin-right: 0px;
}

.merchandise-img {
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
}

.merchandise-name {
    font-size: 30px;
    padding-left: 10px;
    color: white;
    text-transform: capitalize;
}

.merchandise-price, .merchandise-description {
    padding-top: 10px;
    padding-right: 5px;
    padding-left: 5px;
    font-size: 16px;
    color: white;
}

.merchandise-description {
    padding-left: 15px;
    padding-right: 15px;
    text-transform: capitalize;
}


.order-btn {
    background-color: #171717;
    border: #5a5a5a 2px solid!important;
    color: white;
    margin-top: 5px;
    margin-left: 15px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
}

.merchandise-title{
    display: block;
}

.space {
    width: 100%;
    height: 35px;
    overflow: hidden;
}

/* loading screen */

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../media/img/logo.png') 50% 50% no-repeat black;

}
.loader p {
    position: fixed;
    color: white;
    bottom: 100px;
    font-size: 25px;
}
