.game-img {
	padding: 0;
	border: none;
	background: transparent;
}

header {
	z-index: 1000;
	background: #dddddd;
	width: 100%;
}

footer {
	background: #dddddd;
}

body {
	background: #fac846;
}

li {
    display: inline-block;
}

.panel-collapse {
	background: #fac846;
}

.panel-heading {
	background: #fac846;
}

.game-item {
    height: 200px;
    padding: 0px 20px;
}

.content {
    background: blue;
    height: 200px;
}

.row-game-item {
    padding-bottom: 40px;
	background: #fac846;
}

.row-game-item:last-of-type{
    margin-bottom: 0px;
}

.test {
    background: blue;
}

.panel {
	border: none ;
	box-shadow: none ;
}

/* quote */

#quote
{
	margin-top: 50px;
	text-align:center;
	padding-top:10px;
	color:#000;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:14px;
	font-style:italic;
	height:34px;
	background-color:#ddd;
}

#quote .name
{
	font-size:10px;
	color:#666;
}

#quote a
{
	font-size:10px;
	color:#666;	
}

/*game style per pagina */

.game-img-2 {
	margin-top: 21px;
}

.game-info h4 {
	float: left;
}

/*slider*/
.slide {
	margin-top: 35px;
	margin-bottom: 35px;
}